/* ================================ fontes importadas ================================ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin-top: 100px;
  background-color: #f1f1f1;
}

p {
  color: #5a5a5a;
}

/* ================================ Cabeçalho ================================ */
nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #597E52;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.logo-cabecalho img {
  width: 60px;
  height: auto;
  margin-top: 8px;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar a {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px;
  color: #fff;
}

nav li:hover {
  padding-bottom: 8px;
  transition: .2s;
}

nav li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 0%;
  height: 2.7px;
  border-radius: 7px;
  background-color: #fff;
}

nav a:hover::after{
  width: 100%;
  transition: .2s;
}

.searchBox {
  position: relative;
  height: 40px;
  width: 200px;
  align-items: center;
  justify-content: center;
  bottom: 20px;
}

.search-field input {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 10px;
  background-color: #fff;
  color: #5a5a5a;
}

.user .session {
  position: relative;
  font-size: 27px;
  left: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

.user i{
  color: #fff;
  padding: 5px;
  border-radius: 7px;
}

.user i:hover {
  background-color: #fff;
  color: #597E52;
  transition: .2s;
}

.user-container {
  color: #fff;
}

/* ================================ Conteúdo do site ================================ */
.conteudo {
  background-color: #fff;
  padding: 60px;
  width: 66%;
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius: 7px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.titulo-conteudo {
  color:#597E52;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 45px;
}

.subtitulo-noticia {
  font-size: 1.5em;
  color: #555;
  margin-top: 10px;
  font-weight: normal;
}
.divisao {
  border: 1px solid #dadada;
  border-radius: 7px;
  margin-bottom: 25px;
}

.topico-conteudo {
  color:#597E52;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2em;
}

.conteudo > p, .lista {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

li {
  color: #5a5a5a;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link-pagina {
  color: #6cb9ad;
  font-weight: 600;
  font-size: 1.1em;
}

.link-pagina:hover {
  color: #7ecfc3;
  transition: .2s;
}

.imagens {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 5%;
}

img {
  width: 90%;
  height: auto;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
}

form .area-texto input {
  height: 50px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #bebebe;
  padding: 10px;
  outline: none ;
}

/* ================================ Lateral da página ================================ */
.lateral {
  margin-top: -25px;
  width: 30%;
}

.lateral > i {
  color:#597E52;
  position: relative;
  top: 38px;
  font-size: 30px;
}

.lateral > .topico-conteudo {
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 28px;
  font-size: 25px;
}

.link-lateral {
  background-color: #fff;
  height: auto;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.link-lateral:hover {
  scale: 1.03;
  opacity: 0.9;
  cursor: pointer;
  transition: .2s;
}

.link-lateral h3 {
  color: #597E52;
  font-size: 16px;
  word-break: break-word;
}

.link-lateral p {
  text-align: justify;
  font-size: 14px;
}

.link-lateral img {
  height: 150px;
  width: 100%;
}

.pagina {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 55px;
  justify-content: space-between;;
}

/* ================================ Botão pra voltar ao topo ================================ */
.topbtn{
  position: fixed;
  width: 40px;
  height: 50px;
  font-size: 35px;
  background: #597E52;
  bottom: 30px;
  right: 20px;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
  color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
  
.topbtn:hover{
  background-color: #4c6947;
  transition: .2s;
}
  
/* ================================ Rodapé ================================ */
.footer{
  background: #465348;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 35px 35px;
}
  
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  display: inline-block;
  vertical-align: top;
}
  
.footer .footer-left{
  width: 40%;
}
  
.footer h3{
  color:  #fff;
  font-size: 30px;
  margin: 0;
}
  
.footer .footer-links{
  color:  #fff;
  margin: 20px 0 12px;
  padding: 0;
}
  
.footer .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
  
.footer .footer-company-name{
  color:  #bebebe;
  font-size: 13px;
  margin: 0;
}
  
.footer .footer-center{
  width: 35%;
}
  
.footer .footer-center i{
  background-color:  #374138;
  color: #dadada;
  font-size: 30px;
  width: 38px;
  height: 38px;
  border-radius: 7px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
  
.footer .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}
  
.footer .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:13px;
  line-height:2;
}
  
.footer .footer-center p a{
  color:  #6cb9ad;
  text-decoration: underline;
}
  
.footer .footer-center p a:hover{
  color: #7ecfc3;
  transition: .2s;
}
  
.footer .footer-links :hover {
  text-decoration: underline;
}
  
.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #bebebe;
  display: inline-block;
  padding-right: 5px;
}
  
.footer .footer-links .link-1:before {
  content: none;
}
  
.footer .footer-right{
  width: 20%;
}
  
.footer .footer-company-about{
  line-height: 20px;
  color:  #bebebe;
  font-size: 13px;
  font-weight: normal;
  text-align: justify;
  margin: 0;
}
  
.footer .footer-company-about span{
  display: block;
  color:  #fff;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.footer .footer-icons{
  margin-top: 20px;
}
  
.footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 30px;
  cursor: pointer;
  background-color:  #374138;
  border-radius: 5px;
  font-size: 30px;
  color: #dadada;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 3px;
}
  
.footer .footer-icons a:hover{
  color: #fff;
  transition: .2s;
}
  
@media (max-width: 880px) {
  
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
  
.footer .footer-center i{
  margin-left: 0;
}
  
}

/*================= Tabela (somente para a página das cooperativas) ================== */

th {
  background-color: #597E52;
  color: #fff;
  border-radius: 7px;
  height: 50px;
  padding: 5px;
}

td {
  border: 2px solid #dadada;
  border-radius: 7px;
  color: #5a5a5a;
  font-size: 15px;
  padding: 5px;
}

/* Estilo para o modal */
.user-container {
  position: relative;
  display: inline-block;
}

.user-modal {
  display: none; 
  position: absolute;
  top: 110%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 250px;
  text-align: center;
  z-index: 1000; 
  opacity: 0;
  transition: opacity .2s ease, visibility .2s ease; 
}

.user-container:hover .user-modal {
  display: block;
  opacity: 1;
  visibility: visible;
}


.modal-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #597E52;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #4c6947;
  transition: background-color .2s;
}
